# EditorConfig is awesome: https://EditorConfig.org
# VScode now supports it natively!

# How about Prettier?
# - Prettier respects EditorConfig files.
# - Settings will be read from prettier config file, then from EditorConfig file.

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
